<div class="mt-4">
  <h3>Cập nhật khóa học</h3>

  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3 mt-4">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Nhập tên..."
        value="{{course.name}}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        placeholder="Nhập mô tả..."
        required
      >{{course.description}}</textarea>
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">Video Id</label>
      <input
        type="text"
        class="form-control"
        id="videoId"
        name="videoId"
        placeholder="Nhập id video..."
        value="{{course.videoId}}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Trình độ</label>
      <input
        type="text"
        class="form-control"
        id="level"
        name="level"
        placeholder="Nhập trình độ"
        value="{{course.level}}"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
  </form>
</div>